$mainBlack: rgb(0, 0, 0);
$mainBlue: #2f3572;
$mainOrange: #ff4e00;
$secondaryOrange: #ec9f05;

/** Brand colors **/
/* $cinnabar: #df3d2f; */
/* $seal-brown: #080202; */

/** Theme colors **/
/* $color-primary: $cinnabar; */
/* $color-secondary: $seal-brown; */
